# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [1]:
print("Ivy")

Ivy

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here

df = pd.read_csv(filepath_or_buffer='data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [7]:
# 1. How many listings are there with a price less than 100? 
df_price_100 = df['price'] < 100

df[df_price_100].shape

(22778, 16)

In [12]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
selection_bk = df['neighbourhood_group'] == 'Brooklyn'
df_bk = df[selection_bk]

df_bk.shape

(18632, 16)

In [13]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

df_bk_price_100 = df[df_price_100 & selection_bk]
df_bk_price_100.shape

(10473, 16)

In [14]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.

#create a list
host_name = ['Michael', 'David', 'John', 'Daniel']

#create select condition
condition = df. host_name.isin(host_name)

# Display the filtered data
df[condition]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46362,44639591,Central & Stylish 1 Bedroom Apt - Heart of Che...,286136716,John,Manhattan,Chelsea,40.74568,-73.99694,Entire home/apt,110,30,0,NaN,NaN,3,110
46396,44661297,Flushing Sunshine home #101,361579037,Daniel,Queens,Flushing,40.74603,-73.82837,Private room,52,1,0,NaN,NaN,2,360
46403,44662157,Flushing Sunshine home #102,361579037,Daniel,Queens,Flushing,40.74441,-73.82829,Private room,55,1,3,2020-08-16,3.00,2,365
46455,44697211,David’s Queen Sized Room,343477029,David,Queens,Far Rockaway,40.59460,-73.75875,Private room,95,1,0,NaN,NaN,1,365
46508,44797527,Long-Term: Furnished Apt in Nolita w/ Amenities,19448640,David,Manhattan,Nolita,40.72289,-73.99400,Entire home/apt,140,30,0,NaN,NaN,1,282

In [19]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before.

df_williamburg = df['neighbourhood']=='Williamsburg'

df['adjusted_price']= np.where(df_williamburg, df['price']+100, df['price'])

df.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,75
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274,140
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178,160
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,88
9,6021,Wonderful Guest Bedroom in Manhattan CENTRAL PARK,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,123,2019-12-09,0.90,1,365,85
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197,65
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
12,6990,UES Beautiful Blue Room / 2 Bedrooms,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Entire home/apt,239,4,233,2019-12-09,1.77,1,365,239
13,7097,Perfect for Your Parents + Garden; Germ-Free,17571,Jane,Brooklyn,Fort Greene,40.69121,-73.97277,Entire home/apt,182,1,229,2020-07-20,1.78,2,325,182
14,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Private room,96,14,0,NaN,NaN,2,178,96
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
16,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,115,2020-08-13,0.86,2,319,120
17,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,135,1,23,2019-10-14,0.84,2,89,135
18,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,86,4,0,NaN,NaN,1,0,86
19,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,220,3,33,2019-11-11,0.25,1,90,220

In [28]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
 #hint: use .value_counts()

df['room_type'].value_counts(normalize=True)

Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: room_type, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [34]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

df.groupby('neighbourhood_group').agg(['count'])

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count
neighbourhood_group,,,,,,,,,,,,,,,,
Bronx,1183,1181,1183,1183,1183,1183,1183,1183,1183,1183,1183,957,957,1183,1183,1183
Brooklyn,18632,18626,18632,18624,18632,18632,18632,18632,18632,18632,18632,14865,14865,18632,18632,18632
Manhattan,20580,20570,20580,20555,20580,20580,20580,20580,20580,20580,20580,15197,15197,20580,20580,20580
Queens,5791,5791,5791,5789,5791,5791,5791,5791,5791,5791,5791,4513,4513,5791,5791,5791
Staten Island,341,341,341,341,341,341,341,341,341,341,341,284,284,341,341,341

In [35]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


df.groupby('neighbourhood_group').agg(['mean'])

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
neighbourhood_group,,,,,,,,,,,
Bronx,2.754286e+07,1.374028e+08,40.849077,-73.883374,92.751479,5.467456,27.392223,1.310596,2.213863,173.332206,92.751479
Brooklyn,2.180606e+07,6.899354e+07,40.684176,-73.950979,120.225258,7.397864,24.064244,0.871234,2.457600,104.540897,138.935004
Manhattan,2.277624e+07,8.427158e+07,40.765118,-73.974656,191.880466,10.226676,19.455539,0.787486,8.767250,124.646842,191.880466
Queens,2.659589e+07,1.212928e+08,40.731629,-73.871198,99.754965,6.934899,28.462096,1.296284,7.690209,147.335348,99.754965
Staten Island,2.476462e+07,1.224312e+08,40.613992,-74.103114,110.947214,4.290323,39.000000,1.477148,2.029326,190.920821,110.947214

In [36]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group').agg(['max','min'])

                           id           host_id           neighbourhood  \
                          max    min        max    min              max
neighbourhood_group
Bronx                44768081  44096  361396690  55164         Woodlawn
Brooklyn             44818009   3831  362453686   2438  Windsor Terrace
Manhattan            44814944   2595  362369539   2782     West Village
Queens               44804690  12937  362419479   3415         Woodside
Staten Island        44574046  42882  356623718  15523          Woodrow

                                        latitude           longitude  \
                                   min       max       min       max
neighbourhood_group
Bronx                         Allerton  40.91169  40.80024 -73.78158
Brooklyn                    Bath Beach  40.73824  40.57115 -73.85899
Manhattan            Battery Park City  40.87665  40.70234 -73.90855
Queens                         Arverne  40.79721  40.56546 -73.71299
Staten Island            Arden Heights  40.64779  40.50868 -74.06092

                               ... number_of_reviews     reviews_per_month  \
                          min  ...               max min               max
neighbourhood_group            ...
Bronx               -73.93184  ...               353   0             12.00
Brooklyn            -74.03942  ...               526   0             14.00
Manhattan           -74.01862  ...               746   0             46.24
Queens              -73.95965  ...               695   0             14.00
Staten Island       -74.23986  ...               278   0             10.31

                          calculated_host_listings_count     availability_365  \
                      min                            max min              max
neighbourhood_group
Bronx                0.01                             98   1              365
Brooklyn             0.01                            249   1              365
Manhattan            0.01                            249   1              365
Queens               0.01                            138   1              365
Staten Island        0.01                              8   1              365

                        adjusted_price
                    min            max min
neighbourhood_group
Bronx                 0           1404  16
Brooklyn              0          10000  10
Manhattan             0          10000   0
Queens                0          10000   0
Staten Island         0           1200  19

[5 rows x 26 columns]

In [37]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.
gb = df.groupby('neighbourhood_group')
gb.price.agg(['mean'])

                           mean
neighbourhood_group
Bronx                 92.751479
Brooklyn             120.225258
Manhattan            191.880466
Queens                99.754965
Staten Island        110.947214

In [38]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.


gb.price.agg(['count','min','max','mean','median','std'])

                     count  min    max        mean  median         std
neighbourhood_group
Bronx                 1183   16   1404   92.751479      69   95.787081
Brooklyn             18632    0  10000  120.225258      90  180.136376
Manhattan            20580    0  10000  191.880466     129  428.682578
Queens                5791    0  10000   99.754965      70  207.648739
Staten Island          341   19   1200  110.947214      79  122.676152

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [19]:
#  1. Who was won Album of the Year in 2016?

In [20]:
# 2. Who won Best Rap Album in 2009?

In [21]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?